:root {
    --orange-color: #DA722C;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --light-blue-color: #6F7DFB;
    --light-color: #E8F7FB;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/* Buttons */
.btn {
    padding: 16px 32px;
    border-radius: 24px;
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: var(--white-color);
    text-decoration: none;
}

.btn img {
    margin-right: 10px;
}

.btn.dark {
    background: var(--dark-blue-color);
}

.btn.light {
    background: var(--orange-color);
}


/* Header */

header {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    width: 100%;
}

/* Navigation section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 32px 0;
    transition: all .5s ease;
    z-index: 199;
}

nav.scrolled {
    background: var(--dark-color);
    padding: 12px;
    top: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
}

nav .logo a {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    color: var(--white-color);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: var(--white-color);

}

.mobile-nav,
.mobile-menu-container{
    display: none;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
}

.hero-section .left {
    width: 457px;
}

.hero-section .left h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: var(--white-color);
    margin: 0;
}

.hero-section .left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--white-color);
    margin-bottom: 30px;
}

.hero-section .right {
    align-self: flex-end;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.hero-section .right img {
    height: 520px;
    vertical-align: middle;
}

.achivements-card {
    position: absolute;
}

.achivements-card .content {
    min-width: 200px;
    border-radius: 24px;
    background: var(--white-color);
    text-align: center;
    padding: 8px 32px;
    position: relative;
    z-index: 10;
}

.achivements-card .bg {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
    border-radius: 24px;
    z-index: 1;
}

.achivements-card .content div {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 7px;
}

.achivements-card .content h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    color: var(--dark-blue-color);
    margin: 0;
}

.achivements-card .content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--dark-blue-color);
    margin-top: -8px;
    margin-bottom: 8px;
}

.achivements-card.students-enrolled {
    top: 250px;
    left: 47%;
}

.achivements-card.overall-rating {
    top: 430px;
    left: 43%;
}


/* Testimonials Section */

section {
    margin-top: 100px;
}

section h2.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: var(--dark-blue-color);
    margin: 0;
}

section h2.title.light {
    color: var(--white-color);
}

.testimonials-section {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}

.testimonials-section .right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    margin: 12px 0;
}

.testimonials-section .right .featues {
    margin-bottom: 30px;
}

.testimonials-cards {
    position: relative;
    margin: 40px 0;
}

.testimonials-card {
    width: 442px;
    background: var(--white-color);
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    position: relative;
}

.testimonials-cards::before {
    content: '';
    position: absolute;
    width: 28px;
    height: calc(100% + 100px);
    background: var(--dark-blue-color);
    border-radius: 24px;
    left: 80px;
    top: -50px;
}

.testimonials-card .content {
    background: var(--light-blue-color);
    border-radius: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    padding: 24px 32px;
    color: var(--white-color);
}

.testimonials-card:nth-child(2) {
    margin-left: 30px;
    margin-top: 50px;
}

.testimonials-card .content.light {
    background-color: var(--orange-color);
}

.testimonials-card .info {
    padding: 30px 32px;
}

.testimonials-card .info h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
}

.testimonials-card .info p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    margin: 0;
}

.testimonials-card img {
    position: absolute;
    right: 32px;
    bottom: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* Courses Section */

.courses-section {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding: 70px 0;
    padding-bottom: 160px;
}

.courses-section h2.title {
    text-align: center;
}

.course-cards {
    display: flex;
    gap: 70px;
    margin-top: 55px;

}

.course-card {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 0px 32px;
    position: relative;
    flex: 1;
}

.course-card::before {
    content: '';
    position: absolute;
    height: 8px;
    background: var(--dark-blue-color);
    border-radius: 24px;
    left: 32px;
    right: 32px;
    bottom: 0;
}

.course-card img {
    width: 100%;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
    margin-top: -4px;
}

.course-card .info {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.course-card .info h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
    color: var(--dark-blue-color);
    margin: 0;
}

.course-card .info p.durition {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-blue-color);
    display: flex;
    white-space: nowrap;
}

.course-card .info p.durition img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.courses-section .wrapper {
    position: relative;
}

.courses-section .btn {
    position: absolute;
    right: 0;
    margin-top: 30px;
}

/* App  Section */

.app-section {
    text-align: center;
}

.app-section p {
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-blue-color);
}

.app-section .app-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    margin-top: 40px;
}

.app-section .app-buttons .app-btn {
    width: 310px;
    padding: 16px 32px;
    background: var(--dark-color);
    color: var(--white-color);
    display: flex;
    gap: 14px;
    align-items: center;
}

.app-section .app-buttons .app-btn span {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

/* Footer  Section */

footer {
    background: var(--dark-color);
    color: var(--white-color);
    padding: 70px 0;
    margin-top: 100px;
}

footer h3 {
    color: var(--orange-color);
    font-weight: 700;
    font-size: 18px;
}

footer a {
    color: var(--white-color);
    text-decoration: none;
}

footer ul {
    list-style: none;
    margin-left: 20px;
    padding: 0;
}

footer ul li {
    margin: 16px 0;
}

footer ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
}

footer .socials {
    margin-left: 20px;
}

footer .socials a {
    margin-right: 28px;
}

footer form {
    margin-top: 16px;
    position: relative;
    margin-left: 20px;
}

footer form input {
    background-color: var(--white-color);
    padding: 8px 32px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-color);
    border: none;
    width: 100%;
}

footer form .submit-btn {
    position: absolute;
    top: 4px;
    right: 5px;
    background: var(--dark-blue-color);
    color: var(--white-color);
    font-weight: 400;
    font-size: 16px;
    padding: 4px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

footer .copyright {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        padding: 0 32px;
    }

    nav {
        width: 100%;
        left: 0;
        right: 0;
        padding: 16px 32px;
    }

    nav.scrolled {
        width: 100%;
        left: 0;
        right: 0;
        padding: 16px 32px;
    }

}
/* Responsive */
@media only screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 100px;
    }

    .btn {
        padding: 12px 32px;
    }

    nav{
        display: none;
    }

    nav.mobile-nav{
        width: 100%;
        padding: 16px 100px;
        display: flex;
        justify-content: space-between;
    }

    nav.mobile-nav .menu-icon{
        cursor: pointer;
    }

    nav.mobile-nav.scrolled {
        background: var(--light-blue-color);
        padding: 12px 100px;
        top: 0;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    }

    .mobile-menu-container{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background: var(--dark-color);
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s ease;
    }

    .mobile-menu-container.active{
        left: 0;
    }

    .mobile-menu-container ul{
        text-align: center;
        list-style: none;
    }

    .mobile-menu-container ul li{
        margin-bottom: 30px;
    }

    .mobile-menu-container ul li a{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: var(--white-color);
        text-decoration: none;
    }

    .mobile-menu-container .btn{
        background: var(--orange-color);
    }

    .mobile-menu-container .menu-close{
        position: absolute;
        top: 32px;
        right: 100px;
        opacity: 0;
        pointer-events: none;
        transition: all .400ms ease;
    }

    .mobile-menu-container.active .menu-close{
        opacity: 1;
        pointer-events: auto;
    }

    .hero-section {
        height: auto;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .hero-section .left {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        margin: 80px 0;
    }

    .hero-section .left p {
        width: 457px;
    }

    .hero-section .btn {
        align-self: flex-start;
    }

    .hero-section .right {
        position: absolute;
        bottom: 0;
    }

    .hero-section .right img {
        height: 560px;
        right: -80px;
    }

    .achivements-card {
        position: relative;
        margin-bottom: 60px;
    }

    .achivements-card.students-enrolled,
    .achivements-card.overall-rating {
        left: unset;
        top: unset;
    }

    .achivements-cards {
        align-self: flex-start;
        margin-left: 40px;
        margin-bottom: 60px;
    }

    section h2.title {
        font-size: 40px;
    }

    .testimonials-section {
        flex-direction: column-reverse;
        position: relative;
        gap: 30px;
        margin-bottom: 150px;
    }

    .testimonials-section .left {
        width: 100%;
    }

    .testimonials-card {
        width: 100%;
    }

    .testimonials-card:nth-child(2) {
        margin-left: 0px;
        margin-top: 40px;
    }

    .testimonials-section .btn {
        position: absolute;
        right: 0;
        bottom: -60px;
    }

    .course-cards {
        flex-direction: column;
        gap: 65px;
    }
    .courses-section .btn_parent{
        text-align: right;
    }
    .courses-section .btn {
        position: inherit;
        margin-top: 40px;
    }

    footer .links-container {
        grid-template-columns: 1fr 1fr;
    }

    footer .links-container  .links:last-child{
        grid-column: 1 / 3;
    }

    footer .copyright{
        margin-top: 40px;
    }

}


@media only screen and (max-width: 900px) {
    .hero-section .right img {
        height: 500px;
    }
}

@media only screen and (max-width: 700px) {
    .wrapper {
        padding: 0 32px;
    }

    nav.mobile-nav{
        padding: 16px 32px;
    }

    nav.mobile-nav.scrolled{
        padding: 16px 32px;
    }

    .hero-section .left h1{
        font-size: 36px;
    }

    .hero-section .left p{
        width: 100%;
    }

    .achivements-card .content h3{
        font-size: 30px;
    }

    .achivements-card .content p{
        font-size: 14px;
    }

    .achivements-cards{
        margin-left: 0;
        margin-bottom: 40px;
    }

    .hero-section .right img {
        height: 400px;
        margin-right: -32px !important;
    }

    .achivements-card{
        margin-bottom: 45px;
    }

    section h2.title {
        font-size: 30px;
    }

    .testimonials-card .content{
        font-size: 18px;
    }

    .testimonials-card .info h4{
        font-size: 18px;
    }

    .testimonials-card .info p{
        font-size: 14px;
    }

    .testimonials-card img{
        width: 100px;
        height: 100px;
    }

    .course-card .info h4{
        font-size: 24px;
    }

    .courses-section .wrapper{
        padding: 0;
    }

    .courses-section .btn_parent{
        margin-right: 32px;
    }

    .courses-section {
        padding-bottom: 70px;
    }

    .app-section .app-buttons{
        flex-direction: column;
        align-items: center;
    }

    footer .links-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer .links-container  .links:last-child {
        grid-column: 1 / 2;
    }

    footer ul {
        margin-left: 0;
    }

    footer form .submit-btn{
        left: 50%;
        transform: translateX(-50%);
        top: 130%;
    }

    footer .copyright{
        text-align: center;
        font-size: 14px;
        margin-top: 75px;
    }

}